.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-inline: auto;
	padding-inline: 0.5rem;
	width: 100%;
	max-width: 1536px;
	height: 100%;
}

/* 2xl */
@media (max-width: 1536px) {
	.container {
		max-width: 1280px;
	}
}

/* xl */
@media (max-width: 1280px) {
	.container {
		max-width: 1024px;
	}
}

/* lg */
@media (max-width: 1024px) {
	.container {
		max-width: 768px;
	}
	.left {
		margin-right: 1rem;
	}
}

/* md */
@media (max-width: 768px) {
	.container {
		max-width: 640px;
	}
	.left {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.gridContainer {
		width: 400px;
		height: 400px;
	}
}

/* sm */
@media (max-width: 640px) {
	.container {
		width: 100%;
	}

	.gridContainer {
		width: 300px;
		height: 300px;
	}
}

/* xs */
@media (max-width: 490px) {
	.color {
		width: 5rem;
		height: 5rem;
	}
	.gridContainer {
		width: 240px;
		height: 240px;
	}
}
@media (max-width: 404px) {
	.gridContainer {
		width: 220px;
		height: 220px;
	}
}

@media (max-width: 384px) {
	.left {
		gap: 0.5rem;
		margin-bottom: 0;

		.color {
			width: 4rem;
			height: 4rem;
		}
	}
	.gridContainer {
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 320px) {
	.left {
		margin-right: 0;
	}
}
