@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--primary-color: #2bcaffc0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.title {
	margin-bottom: 2rem;
	font-size: 2rem;
	text-align: center;
}

.color {
	border: none;
	border-radius: 99%;
	width: 5rem;
	height: 5rem;
}

& input[type="color"] {
	cursor: pointer;
	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}
	&::-webkit-color-swatch {
		border: none;
	}
}
.credits {
	bottom: 0;
	left: 0;
	background-color: hsl(0, 0%, 2%);
	padding: 0.5rem 1rem;
	width: 100%;
	color: white;
	font-size: 0.8rem;
	text-align: center;
}

.left {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-right: 5rem;
	max-width: 12.5rem;

	& #gridSize {
		font-weight: bold;
	}
}

button {
	transition: all ease-in-out 0.25s;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: var(--primary-color);
	padding: 0.5rem 1rem;
	width: 100%;
	font-weight: bold;

	&:hover {
		background-color: #3e8e41b2; /* Darker green */
		color: white;
	}

	&.active {
		transform: translateY(1px);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		background-color: #3e8e41; /* Darker green */
		color: white;
	}
}

.button-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.gridContainer {
	display: grid;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	width: 31.25rem;
	height: 31.25rem;
}
